# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Large media (optional - see note in README about Git LFS)

# Flask
instance/
*.log
